* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main {
    padding: 50px;
}

#cart-container {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border: 1px solid; */
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 40px; */
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border: 1px solid; */
    /* position: relative; */
}

.cart-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-item button {
    margin-left: auto;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    color: white;
    background-color: #e2544f;
    border: none;
}

.cart-item button:hover {
    background-color: #c9302c;
}

.total,
#place-order {
    text-align: center;
    font-size: 1.2em;
    /* border: 1px solid; */
    padding: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

#place-order {
    color: white;
    background-color: #896646;
    cursor: pointer;
}

#place-order:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #a9825a;
}

@media (max-width: 768px) {
    #cart-container {
        padding: 0;
    }

    .cart-item button {
        margin-left: auto;
        width: 100px;
        height: 35px;
        font-size: 15px;
    }

    .cart-item {
        gap: 40px;
    }
}
